@tailwind base;
@tailwind components;
@tailwind utilities;

/* aa */

section {
    @apply py-10 md:py-16 lg:px-20 px-5;
}

.container {
    @apply mx-auto;
}

.row {
    @apply max-w-7xl mx-auto;
}

.btn-primary {
    @apply py-4 px-5 w-48 block text-white shadow-lg text-lg text-center font-bold
}

.text-countup {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #6275500f;
    position: absolute;
    font-size: 6rem;
    /* 36px */
    text-align: center;
    font-weight: bold;
    line-height: 2.5rem;
    /* 40px */
    top: -3.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
}